@CHARSET "ISO-8859-1";

.navbar{
    background: #ecf0f1 !important;
}

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #ecf0f1;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#60c7c1;
    color:#fff;
}
.dropdown-menu a{
    color:#60c7c1;
} 
.navbar .nav-item .nav-link{
    color:#60c7c1 !important; 
    
}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;
    
}
